﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#txtBranch').on('keyup',
            function () {
                var url = 'https://ping.ircoder.com/idp/startSSO.ping?PartnerSpId=IRCODERSP' + '&TARGET=http%3A%2F%2Fdev.ircoder.com%2F' + encodeURI($('#txtBranch').val()) +
                          '%2Fapp%2Fdefault.aspx%3Ft%3Dmain%26a%3Dwelcome';
                $('#lnkDevUrl').attr('href', url);
            }
        );
        $('#txtBranchNew').on('keyup',
            function () {
                var url = 'https://ping.ircoder.com/idp/startSSO.ping?PartnerSpId=IRCODERSPHTML' + '&TARGET=http%3A%2F%2Fdev.ircoder.com%2F' + encodeURI($('#txtBranchNew').val()) +
                    '%2Fapp%2Fdefault.aspx%3Ft%3Dmain%26a%3Dwelcome';
                $('#lnkDevUrlNew').attr('href', url);
            }
        );
    });
    
</script>

<div class="text-center">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 15rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                <div class="card-body">
                    <h6 class="card-title">iRCoder Dev</h6>
                    <div>
                        <label for="txtBranch">Branch Name:</label>
                        <input type="text" class="form-control" id="txtBranch" aria-describedby="branch name" width="50">
                    </div>
                </div>
                <a id="lnkDevUrl" href="" target="_blank">
                    <img src="~/images/Logo_iRCODER_1-Primary_NoTM_Standard_72dpi.png" width="150" height="50" />
                </a>
                <br />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 15rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                <div class="card-body">
                    <h6 class="card-title">iRCoder JIRA</h6>
                </div>
                <a href="#" target="_blank">
                    <img src="~/images/jira.png" width="150" height="50" style="margin-left: 0.75rem" />
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 15rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                <div class="card-body">
                    <h6 class="card-title">iRCoder Dev - No Kerb</h6>
                    <div>
                        <label for="txtBranch">Branch Name:</label>
                        <input type="text" class="form-control" id="txtBranchNew" aria-describedby="branch name" width="50">
                    </div>
                </div>
                <a id="lnkDevUrlNew" href="" target="_blank">
                    <img src="~/images/Logo_iRCODER_1-Primary_NoTM_Standard_72dpi.png" width="150" height="50" />
                </a>
                <br />
            </div>
        </div>
    </div>
    <br/><br />
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 15rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                <div class="card-body">
                    <h6 class="card-title">iRCoder Production</h6>
                    <span>(A Test Hospital)</span>
                </div>
                <a href="https://ping.ircoder.com/idp/startSSO.ping?PartnerSpId=IRCODERSPHTML&TARGET=http%3A%2F%2Fircoder.com%2Fapp%2Fdefault.aspx%3Ft%3Dmain%26a%3Dwelcome" target="_blank">
                    <img src="~/images/Logo_iRCODER_1-Primary_NoTM_Standard_72dpi.png" width="150" height="50" />
                </a>
                <br />
            </div>
        </div>
    </div>
</div>